@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,300&display=swap');

@font-face {
 font-family: "merriweather";
 src: url("fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
 font-family: "merriweather-sans";
 src: url("fonts/Merriweather_Sans/static/MerriweatherSans-Regular.ttf");
}

body
{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
}

html
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family:merriweather;
}
*
{
    font-family:merriweather;
}

/*Selection des candidats*/
#fermer_candidats
{
    position:absolute;
    right:20px;
    top:20px;
    height:30px;
    width:30px;
    font-size:17px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    background-color:red;
    color:white;
    font-weight:600;
    border:solid black 1px;
    cursor:pointer;
    font-family:merriweather-sans!important;
}
#conteneur_candidats
{
    width:90%;
    max-width:400px;
    margin:auto;
}
.cont_candidat
{
    vertical-align:bottom;
    display:inline-block;
     width:75px;
    margin:2px;
    height:50px;
    margin-bottom:5px;
}
.candidat
{
    position:relative;
    display:inline-block;
    width:50px;
    height:50px;
    margin:2px;
    border-radius: 50px;
    box-sizing:border-box;
    cursor:pointer;
    text-align:left;
    transition:0.3s;
}
.candidat[selected]
{
    display:inline-block;
    width:75px;
    height:50px;
    margin:2px;
    border-radius: 50px;
    box-sizing:border-box;
    cursor:pointer;
    text-align:left;
}
.img_cont
{
    position:relative;
    top:0px;
    left:0px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin:0;
    transition-delay:0s;
    transition:0s;
    transition-property:top;
    background-image: url(ps.png);
    background-position: center;
    background-size: contain;
    display:inline-block;
/*    vertical-align:middle;*/
/*    transition:0.3s;*/
    
}

.img_et_init
{
    background-color:white;
    height:40px;
    width:40px;
    top:4px;
    left:0px;
    position:relative;
    border-radius:50px;
    display:inline-block;
    transition:0.3s;
    margin:0;
    padding-top:0px;
    padding-bottom:0px;
}

.candidat[selected]>.img_et_init
{
    box-sizing:content-box;
    height:44px;
    width:65px;
    top:1px;
    left:0px;
    padding-top:4px;
/*    padding-bottom:4px;*/
}
.candidat[selected]>.img_et_init>.img_cont
{
/*    top:5px;*/
    left:0px;
}

.plus_moins
{
    display:inline-block;
    font-size:12px;
    position:absolute;
    top:16px;
/*
    line-height:8px;
    width:8px;
*/
    
    vertical-align:middle;
    padding:0;
    color:white;
    margin:0;
    margin-left:1px;
/*    background-color:rgba(0,0,0,0.7);*/
    border-radius:10000px;
    text-align:center;
    font-weight:500;

}


.initiales
{
    position:absolute;
    opacity:0;
    width:0px;
    height:0px;
    vertical-align:middle;
    transition-property:opacity, position;
    transition-delay: 0s, 0s;
    margin:0;
    
}
.candidat[selected]>.img_et_init>.initiales
{
    font-size:11px;
    display:inline-block;
    position:absolute;
    opacity:1;
/*    vertical-align:middle;*/
    width:20px;
    height:20px;
    top:16px;
    text-align:center;
    
    transition-delay:0.4s, 0.4s, 0.4s, 0.4s;
    transition-property:opacity, width, height, position;
}



#tooltip
{
    background-color:white;
    color:black;
    border:solid black 1px;
    display:none;
    position:absolute;
    padding:5px;
    border-radius:5px;
}

#plus_de_candidats
{
    background-color:rgba(0,0,0,0);
    border:none;
    color:#3498db;
    text-decoration:underline;
    cursor:pointer;
}

#tier_2
{
    display:none;
    position:absolute;
    background-color:white;
    z-index:1000;
    border-radius: 0px 0px 10px 10px;
    border-width: 0px 1px 1px;
    border-color: lightgray;
    border-style: solid;
    box-shadow: 4px 4px 2px 1px rgba(0,0,0,0.2);
    
}

.credit
{
    font-size:0.65em;
}


/* GRAPHIQUE */

svg {
    width:100%;
}

svg g.axis text {
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
}


@keyframes rollEffect {
    0% {
        clip-path: inset(0px 1600px 0px 0px);
    }
    100% {
        clip-path: inset(0px 0px 0px 0px);
    }
}

g#chart,g#dots {
    animation-name: rollEffect;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}
